/* You can add global styles to this file, and also import other style files */

html,
body {
  background-size: 100%;
  background-image: url("./assets/./img/brasa.png");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
  color: #f13246;
}

.v-middle {
  vertical-align: middle;
}
.mat-drawer-container {
  background-color: rgba(0, 0, 0, 0);
}
.mat-drawer-inner-container {
  background-color: rgba(0, 0, 0, 0.281);
  width: 100%;
  height: 100%;
  overflow: auto;
}
